htmml, body{
  height:100%;
  margin:0;
  padding:0;
  background:url("../img/sandstone.jpg");
  font-family: 'Raleway', sans-serif;   
  color: white;
  font-size: 26px;
  font-weight: 300;
  font-style: normal;  
}

a{
  background-color: grey;
}


ul{
  list-style-type: none;
}

h1.table_header{
  margin: 0px 529px 4px 0px;
}

/* add row spacing to bootstrap class=row */
.row{
  margin-bottom: 12px;
}

.nav_bar_right{
  justify-content: flex-end;
}

.nav_bar_right a:hover{
  background-color: green;  
}


.active{
  background-color: yellow;  
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one      */
  display: flex;
  align-items: center;
}

.container{
  padding-top: 20px;
  position:relative;
}

.main_container{
  position: absolute;
  top: 20px;
  left: 20px;
}

.img_container {
  height: 260px;
  border: 32px solid; 
  border-image: url("../img/rocks.jpeg") 30 round;
  background-image: url('../img/pic_bkg.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.prof_img {
  margin-left: -181px;
  margin-top:-108px;
  width: 576px;
  height: 308px;
}

.left_col{
  max-width: 300px;
}

.right_col{
  max-width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: bottom;    
}

.right_col_msg{
  padding-left: 20px;
  overflow: hidden;
  font-family: 'Cormorant | Handgloves', sans-serif;
  font-size: 24px;  
  color: white;  
}

.titled_table{
  display:flex;
  flex-direction: column
}

.topics{
  position: relative;
  top: 50px;
  left: -2px;
}

.btn-info{
  background-color: grey;
  border-color: grey;
  font-family: 'Hind Madurai', sans-serif;
}

.btn-info{
  background-color: grey;
  border-color: grey;
  font-family: 'Hind Madurai', sans-serif;
}


.btn-space{
  margin: 8px;
}

.col-btn{
  width: 100px;
  color: white;
}

.spacer_row{
  height: 60px;
  width: 100%;
}

/* vertical line */
.vl {
  height: 15px;
  width: 100%;
  margin-top: 35px;
  background-image: url('../img/rocks.jpeg');
  background-size: 100%;  
}

.content_main{
  color:white;
}
