<!DOCTYPE html>
<!--<html lang="en">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <title>{{title | title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind+Madurai">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="css/lboylan.css"/>
    
</head>

<body>
    <div class="vertical-center">
        <div class="container main_container">
            <div class="row">        
                <div class="col img_container left_col">
                    <img class="prof_img" src="img/prof_img.png" alt="Lisa S Boylan"/>
                </div>
                <div class="col right_col">
                    <div class="row nav_bar_right">
                        {% for key, value in links.items() %}
                            {% if title == key %}
                                <a href="{{ value }}"  class="btn btn-info btn-space active">{{ key | title }}</a>                            
                            {% else %}
                                <a href="{{ value }}"  class="btn btn-info btn-space">{{ key | title }}</a>
                            {% endif %}
                        {% endfor %}
                        <a href="./img/LisaSBoylan_Resume.pdf" class="btn btn-info btn-space">Resume</a>                        
                    </div>
                    <div class="row right_col_msg">
                        {{content_msg}}
                    </div>    
                </div>
            </div> <!--row1-->
            <div class="row">
                <div class="col left_col buttons">
                    <a href="https://github.com/lisasboylanportfolio" class="btn col-btn btn-info"><i class="fab fa-github"></i> GitHub</a>
                    <a href="https://www.linkedin.com/in/lisasboylan/" class="btn col-btn btn-info"><i class="fab fa-linkedin"></i> LinkedIn</a>
                </div>
            </div>
            <div class="content_main">
                {{content_main}}
            </div>
        </div>
    </div>
</body>
</html>            